---
---

// - - - - - - - - - - Foundations

@import "_reset";
@import "_mixins";
@import "_plugins";



// - - - - - - - - - - Variables


// Colors

$background-color: {{ site.data.settings.color_settings.background_color }};
$background-alt-color: {{ site.data.settings.color_settings.background_alt_color }};
$border-color: {{ site.data.settings.color_settings.border_color }};

$text-dark-color: {{ site.data.settings.color_settings.text_dark_color }};
$text-medium-color: {{ site.data.settings.color_settings.text_medium_color }};
$text-light-color: {{ site.data.settings.color_settings.text_light_color }};

$accent-color: {{ site.data.settings.color_settings.accent_color }};

$hero-background-color: {{ site.data.settings.color_settings.hero_background_color }};
$hero-text-color: {{ site.data.settings.color_settings.hero_text_color }};

$error-color: {{ site.data.settings.color_settings.error_color }};


// Fonts

$body-font: {{ site.data.settings.font_settings.body_font }};
$title-font: {{ site.data.settings.font_settings.title_font }};

$regular-weight: {{ site.data.settings.font_settings.regular_weight }};
$bold-weight: {{ site.data.settings.font_settings.bold_weight }};


// Typography

$sitetitle-small: {{ site.data.settings.font_settings.site_title.small_size }}px;
$sitetitle-medium: {{ site.data.settings.font_settings.site_title.medium_size }}px;
$sitetitle-large: {{ site.data.settings.font_settings.site_title.large_size }}px;
$sitetitle-weight: {{ site.data.settings.font_settings.site_title.weight }};
$sitetitle-spacing: {{ site.data.settings.font_settings.site_title.letter_spacing }}em;

$menu-small: {{ site.data.settings.font_settings.menu.small_size }}px;
$menu-medium: {{ site.data.settings.font_settings.menu.medium_size }}px;
$menu-large: {{ site.data.settings.font_settings.menu.large_size }}px;
$menu-weight: {{ site.data.settings.font_settings.menu.weight }};
$menu-spacing: {{ site.data.settings.font_settings.menu.letter_spacing }}em;

$h1-small: {{ site.data.settings.font_settings.h1.small_size }}px;
$h1-medium: {{ site.data.settings.font_settings.h1.medium_size }}px;
$h1-large: {{ site.data.settings.font_settings.h1.large_size }}px;
$h1-weight: {{ site.data.settings.font_settings.h1.weight }};
$h1-spacing: {{ site.data.settings.font_settings.h1.letter_spacing }}em;
$h1-lineheight: {{ site.data.settings.font_settings.h1.line_height }};

$h2-small: {{ site.data.settings.font_settings.h2.small_size }}px;
$h2-medium: {{ site.data.settings.font_settings.h2.medium_size }}px;
$h2-large: {{ site.data.settings.font_settings.h2.large_size }}px;
$h2-weight: {{ site.data.settings.font_settings.h2.weight }};
$h2-spacing: {{ site.data.settings.font_settings.h2.letter_spacing }}em;
$h2-lineheight: {{ site.data.settings.font_settings.h2.line_height }};

$h3-small: {{ site.data.settings.font_settings.h3.small_size }}px;
$h3-medium: {{ site.data.settings.font_settings.h3.medium_size }}px;
$h3-large: {{ site.data.settings.font_settings.h3.large_size }}px;
$h3-weight: {{ site.data.settings.font_settings.h3.weight }};
$h3-spacing: {{ site.data.settings.font_settings.h3.letter_spacing }}em;
$h3-lineheight: {{ site.data.settings.font_settings.h3.line_height }};

$h4-small: {{ site.data.settings.font_settings.h4.small_size }}px;
$h4-medium: {{ site.data.settings.font_settings.h4.medium_size }}px;
$h4-large: {{ site.data.settings.font_settings.h4.large_size }}px;
$h4-weight: {{ site.data.settings.font_settings.h4.weight }};
$h4-spacing: {{ site.data.settings.font_settings.h4.letter_spacing }}em;
$h4-lineheight: {{ site.data.settings.font_settings.h4.line_height }};

$h5-small: {{ site.data.settings.font_settings.h5.small_size }}px;
$h5-medium: {{ site.data.settings.font_settings.h5.medium_size }}px;
$h5-large: {{ site.data.settings.font_settings.h5.large_size }}px;
$h5-weight: {{ site.data.settings.font_settings.h5.weight }};
$h5-spacing: {{ site.data.settings.font_settings.h5.letter_spacing }}em;
$h5-lineheight: {{ site.data.settings.font_settings.h5.line_height }};

$h6-small: {{ site.data.settings.font_settings.h6.small_size }}px;
$h6-medium: {{ site.data.settings.font_settings.h6.medium_size }}px;
$h6-large: {{ site.data.settings.font_settings.h6.large_size }}px;
$h6-weight: {{ site.data.settings.font_settings.h6.weight }};
$h6-spacing: {{ site.data.settings.font_settings.h6.letter_spacing }}em;
$h6-lineheight: {{ site.data.settings.font_settings.h6.line_height }};

$p-small: {{ site.data.settings.font_settings.p.small_size }}px;
$p-medium: {{ site.data.settings.font_settings.p.medium_size }}px;
$p-large: {{ site.data.settings.font_settings.p.large_size }}px;
$p-weight: {{ site.data.settings.font_settings.p.weight }};
$p-spacing: {{ site.data.settings.font_settings.p.letter_spacing }}em;
$p-lineheight: {{ site.data.settings.font_settings.p.line_height }};

$blockquote-small: {{ site.data.settings.font_settings.blockquote.small_size }}px;
$blockquote-medium: {{ site.data.settings.font_settings.blockquote.medium_size }}px;
$blockquote-large: {{ site.data.settings.font_settings.blockquote.large_size }}px;
$blockquote-weight: {{ site.data.settings.font_settings.blockquote.weight }};
$blockquote-spacing: {{ site.data.settings.font_settings.blockquote.letter_spacing }}em;
$blockquote-lineheight: {{ site.data.settings.font_settings.blockquote.line_height }};

$button-weight: {{ site.data.settings.font_settings.buttons.weight }};
$button-spacing: {{ site.data.settings.font_settings.buttons.letter_spacing }}em;


// Logo
$logo-width: {{ site.data.settings.header_settings.logo_width }}px;
$footer-logo-width: {{ site.data.settings.footer_settings.logo_width }}px;


// Post details
$overlay-opacity: {{ site.data.settings.hero_settings.overlay_opacity }};
$grid-spacing: {{ site.data.settings.post_settings.grid_spacing }}px;



// - - - - - - - - - - Global styles

@import "_basic";

@import "_includes/_header";
@import "_includes/_footer";

@import "_includes/_content";
@import "_includes/_socials";
@import "_includes/_gallery";
@import "_includes/_syntax";
@import "_includes/_contact-form";



// - - - - - - - - - - Section styles

@import "_includes/_listing";
@import "_includes/_hero";


/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
