---
layout: default
title: Hello!
description: Hey there!
featured_image: /images/demo/home.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Hello there!</h1>
		<p>Check out some of what I've been working on down below!</p>

		{% include socials.html %} <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.thumbnail_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

	<div class="container">
		<div class="chatbox">
			<div class="chatbox__support">
				<div class="chatbox__header">
					<div class="chatbox__image--header">
						<img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
					</div>
					<div class="chatbox__content--header">
						<h4 class="chatbox__heading--header">Chat support</h4>
						<p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
					</div>
				</div>
				<div class="chatbox__messages">
					<div></div>
				</div>
				<div class="chatbox__footer">
					<input type="text" placeholder="Write a message...">
					<button class="chatbox__send--footer send__button">Send</button>
				</div>
			</div>
			<div class="chatbox__button">
				<button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
			</div>
		</div>
	</div>

</section>
<script>
	
	$SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<script type='app.js'></script>
