---
layout: default
title: Hello!
description: Hey there!
featured_image: /images/demo/home.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Hello there!</h1>
		<p>Check out some of what I've been working on down below!</p>

		{% include socials.html %} 
		<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.thumbnail_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>
</section>

<!-- Chatbot script and bubble text -->
<div id="chatbot-hint" class="chatbot-hint">Click here to ask Robo Charles questions!</div>

<script>
      (function (w, d, s, o, f, js, fjs) {
        w["botsonic_widget"] = o;
        w[o] =
          w[o] ||
          function () {
            (w[o].q = w[o].q || []).push(arguments);
          };
        (js = d.createElement(s)), (fjs = d.getElementsByTagName(s)[0]);
        js.id = o;
        js.src = f;
        js.async = 1;
        fjs.parentNode.insertBefore(js, fjs);
      })(window, document, "script", "Botsonic", "https://d1m9uqhmlogh4h.cloudfront.net/CDN/botsonic.min.js");
      Botsonic("init", {
        serviceBaseUrl: "https://api.writesonic.com",
        token: "9fed897a-7f4c-46f0-a77f-10789e28fa5b",
      });

	  // Function to hide the hint when chatbot button is clicked
      function setupChatbotHintBehavior() {
          let botsonicButton = document.querySelector('.botsonic-button');
          if (botsonicButton) {
              botsonicButton.addEventListener('click', function() {
                  document.getElementById('chatbot-hint').style.display = 'none';
              });
          }
      }
      
      // Try to attach the behavior once the page and chatbot script is loaded
      window.onload = setupChatbotHintBehavior;

</script>