---
layout: default
---

<section class="hero hero--single">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

		<li class="socials__item">
			<a href="{{ page.github_link }}" target="_blank" class="socials__item__link" title="Github">
				<i class="fab fa-github" aria-hidden="true"></i>
			</a>
		</li>
		<p><i class="tab fa-Github"><a href="{{ page.github_link }}">Go to Repo</a></i></p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{{ page.content }}

		</article>

	</div>

</section>